Reading a file with Pandas
==
---

Pandas is a library widely used for statistics and analysis
* Has functions which allow you to read a file directly into your script
* Borrows many feature from R's data frames

*   Read a Comma Separate Values (CSV) data file with `pandas.read_csv`.
    * Uses the same notation as you used for bash ("./" accesses the current folder, "../" searches up to the parent folder)
    * Argument is the name of the file to be read.
    * Assign result to a variable to store the data that was read.

## Accessing Files

We're using the gapminder data that we created yesterday. Remember that these are stored in the shell_lessons directory in a `data` sub-directory, which is why the path to the file is `../shell_lessons/data/gapminder_data/gapminder_final.txt`. If you forget to include `../shell_lessons/`, or if you include it but your copy of the file is somewhere else, you will get a [runtime error]({{ site.github.url }}/05-error-messages/) that ends with a line like this:
    ~~~
    OSError: File b'gapminder_final.txt' does not exist
    ~~~
    
** Don't forget to use the tab key for auto-completion **
    * Auto-complete works in Jupyter notebooks!

In [26]:
# First, import the pandas library
import pandas
import math
import os 
print(math.pi)
print(os.getcwd())

3.141592653589793
C:\Users\Administrator\SDC_workshop_2018-02-10\shell\python

In [7]:
# Then read the csv
# ..  = goes back one directory
df = pandas.read_table("../data/processed_data/gapminder_data.txt")
#df = pandas.read_table("../shell_lessons/data/gapminder_data/gapminder_final.txt")

 print the data frame

In [10]:
#df   # if you do df ,then you will see the well arranged file
print(df)

          country  year       pop continent lifeExp    gdpPercap
0     Afghanistan  1997  22227415      Asia  41.763   635.341351
1     Afghanistan  2002  25268405      Asia  42.129  726.7340548
2     Afghanistan  2007  31889923      Asia  43.828  974.5803384
3     Afghanistan  1952   8425333      Asia  28.801  779.4453145
4     Afghanistan  1957   9240934      Asia  30.332  820.8530296
5     Afghanistan  1962  10267083      Asia  31.997    853.10071
6     Afghanistan  1967  11537966      Asia   34.02  836.1971382
7     Afghanistan  1972  13079460      Asia  36.088  739.9811058
8     Afghanistan  1977  14880372      Asia  38.438    786.11336
9     Afghanistan  1982  12881816      Asia  39.854  978.0114388
10    Afghanistan  1987  13867957      Asia  40.822  852.3959448
11    Afghanistan  1992  16317921      Asia  41.674  649.3413952
12        Albania  1952   1282697    Europe   55.23  1601.056136
13        Albania  1957   1476505    Europe   59.28  1942.284244
14        Albania  1962   1728137    Europe   64.82  2312.888958
15        Albania  1967   1984060    Europe   66.22  2760.196931
16        Albania  1972   2263554    Europe   67.69  3313.422188
17        Albania  1977   2509048    Europe   68.93   3533.00391
18        Albania  1982   2780097    Europe   70.42  3630.880722
19        Albania  1987   3075321    Europe      72  3738.932735
20        Albania  1992   3326498    Europe  71.581  2497.437901
21        Albania  1997   3428038    Europe   72.95  3193.054604
22        Albania  2002   3508512    Europe  75.651  4604.211737
23        Albania  2007   3600523    Europe  76.423  5937.029526
24        Algeria  1962  11000948    Africa  48.303   2550.81688
25        Algeria  1967  12760499    Africa  51.407  3246.991771
26        Algeria  1972  14760787    Africa  54.518  4182.663766
27        Algeria  1977  17152804    Africa  58.014  4910.416756
28        Algeria  1982  20033753    Africa  61.368  5745.160213
29        Algeria  1952   9279525    Africa  43.077  2449.008185
...           ...   ...       ...       ...     ...          ...
1675  Yemen, Rep.  1982   9657618      Asia  49.113   1977.55701
1676  Yemen, Rep.  1987  11219340      Asia  52.922  1971.741538
1677  Yemen, Rep.  1992  13367997      Asia  55.599  1879.496673
1678  Yemen, Rep.  1997  15826497      Asia   58.02  2117.484526
1679  Yemen, Rep.  2002  18701257      Asia  60.308  2234.820827
1680  Yemen, Rep.  2007  22211743      Asia  62.698  2280.769906
1681       Zambia  1952   2672000    Africa  42.038  1147.388831
1682       Zambia  1957   3016000    Africa  44.077  1311.956766
1683       Zambia  1962   3421000    Africa  46.023  1452.725766
1684       Zambia  1967   3900000    Africa  47.768  1777.077318
1685       Zambia  1972   4506497    Africa  50.107  1773.498265
1686       Zambia  1977   5216550    Africa  51.386  1588.688299
1687       Zambia  1982   6100407    Africa  51.821  1408.678565
1688       Zambia  1987   7272406    Africa  50.821  1213.315116
1689       Zambia  1992   8381163    Africa    46.1  1210.884633
1690       Zambia  1997   9417789    Africa  40.238  1071.353818
1691       Zambia  2002  10595811    Africa  39.193  1071.613938
1692       Zambia  2007  11746035    Africa  42.384  1271.211593
1693     Zimbabwe  1952   3080907    Africa  48.451  406.8841148
1694     Zimbabwe  1957   3646340    Africa  50.469  518.7642681
1695     Zimbabwe  1962   4277736    Africa  52.358  527.2721818
1696     Zimbabwe  1967   4995432    Africa  53.995  569.7950712
1697     Zimbabwe  1972   5861135    Africa  55.635  799.3621758
1698     Zimbabwe  1977   6642107    Africa  57.674  685.5876821
1699     Zimbabwe  1982   7636524    Africa  60.363  788.8550411
1700     Zimbabwe  1987   9216418    Africa  62.351  706.1573059
1701     Zimbabwe  1992  10704340    Africa  60.377  693.4207856
1702     Zimbabwe  1997  11404948    Africa  46.809  792.4499603
1703     Zimbabwe  2002  11926563    Africa  39.989  672.0386227
1704     Zimbabwe  2007  12311143    Africa  43.487  469.7092981

[1705 rows x 6 columns]

When we load a csv file with Pandas, it get's loaded into a DataFrame.

DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column. So, a data frame and series are synonomous with table and column.


*   The columns in a data frame are the observed variables, and the rows are the observations.
*   Pandas uses backslash `\` to show wrapped lines when output is too wide to fit the screen.

---
## EtherPad

Hypothetically, the data a project you are working on is stored in a file called `microbes.csv`, which is located in a folder called `field_data`. You are doing analysis in a notebook called `analysis.ipynb`in a sibling folder called `thesis`. You're directory structure looks like this:
    ~~~
    your_home_directory
    +-- field_data/
    |   +-- microbes.csv
    +-- thesis/
        +-- analysis.ipynb
    ~~~

What value(s) should you pass to `read_csv` to read `microbes.csv` in `analysis.ipynb`? Vote for your answer in EtherPad.

    a. "/field_data/microbes.csv"
    b. "./field_data/microbes.csv"
    c. "field_data/microbes.csv"
    d. "../field_data/microbes.csv"

---

## Use `DataFrame.info` to find out more about a data frame.

In [11]:
# Write your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 6 columns):
country      1705 non-null object
year         1705 non-null object
pop          1705 non-null object
continent    1705 non-null object
lifeExp      1705 non-null object
gdpPercap    1705 non-null object
dtypes: object(6)
memory usage: 80.0+ KB

## Use `DataFrame.describe` to get summary statistics about data.

DataFrame.describe() gets the summary statistics of only the columns that have numerical data. 
All other columns are ignored.

In [15]:
# Write your code here
#df.describe()
df.describe()

       country  year      pop continent lifeExp    gdpPercap
count     1705  1705     1705      1705    1705         1705
unique     143    13     1705         6    1627         1705
top     Norway  1962  6990574    Africa   69.39  421.6240257
freq        12   142        1       624       4            1

---
## EtherPad:
1. Use the python cell below to find the minimum GDP per capita of all countries in 1972?

In [14]:
# Write your code

NameError: name 'year' is not defined

Vote for your answer on EtherPad

    a. 331.0
    b. 372.0
    c. 415.0
    d. 424.
    
---

## The `DataFrame.columns` variable stores information about the data frame's columns.

*   Note that this is a method, *not* a function.
    *   Like `math.pi`.
    *   So do not use `()` to try to call it.

In [18]:
# print out the data frame columns
print(df.columns.tolist())
print(df.tail(20))

['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap']
       country  year       pop continent lifeExp    gdpPercap
1685    Zambia  1972   4506497    Africa  50.107  1773.498265
1686    Zambia  1977   5216550    Africa  51.386  1588.688299
1687    Zambia  1982   6100407    Africa  51.821  1408.678565
1688    Zambia  1987   7272406    Africa  50.821  1213.315116
1689    Zambia  1992   8381163    Africa    46.1  1210.884633
1690    Zambia  1997   9417789    Africa  40.238  1071.353818
1691    Zambia  2002  10595811    Africa  39.193  1071.613938
1692    Zambia  2007  11746035    Africa  42.384  1271.211593
1693  Zimbabwe  1952   3080907    Africa  48.451  406.8841148
1694  Zimbabwe  1957   3646340    Africa  50.469  518.7642681
1695  Zimbabwe  1962   4277736    Africa  52.358  527.2721818
1696  Zimbabwe  1967   4995432    Africa  53.995  569.7950712
1697  Zimbabwe  1972   5861135    Africa  55.635  799.3621758
1698  Zimbabwe  1977   6642107    Africa  57.674  685.5876821
1699  Zimbabwe  1982   7636524    Africa  60.363  788.8550411
1700  Zimbabwe  1987   9216418    Africa  62.351  706.1573059
1701  Zimbabwe  1992  10704340    Africa  60.377  693.4207856
1702  Zimbabwe  1997  11404948    Africa  46.809  792.4499603
1703  Zimbabwe  2002  11926563    Africa  39.989  672.0386227
1704  Zimbabwe  2007  12311143    Africa  43.487  469.7092981

## Use `index_col` to specify that a column's values should be used as row headings.

*   Row headings are numbers (0 and 1 in this case).
*   Really want to index by country.
*   Pass the name of the column to `read_csv` as its `index_col` parameter to do this.

In [34]:
# re-read in the gapminder data with the "country" column/series sa the index_col
df=pandas.read_table("../../../SDC_workshop_2018-02-10/2018-02-10-Tucson/shell_lessons/data/gapminder_data/gapminder_final.txt",index_col="country")
                       
#df = pandas.read_table("../shell_lessons/data/gapminder_data/gapminder_final.txt", index_col="country")
df.head()
#print(df.head())

             year         pop continent  lifeExp   gdpPercap
country
Afghanistan  1997  22227415.0      Asia   41.763  635.341351
Afghanistan  2002  25268405.0      Asia   42.129  726.734055
Afghanistan  2007  31889923.0      Asia   43.828  974.580338
Afghanistan  1952   8425333.0      Asia   28.801  779.445314
Afghanistan  1957   9240934.0      Asia   30.332  820.853030

* This is a `DataFrame`
* This gives us many rows with the same index value ("e.g. Afghanistan")
  * Not good practice
* lets re-read the table without the index_cols

In [36]:
# Write your code here
df=pandas.read_table("../../../SDC_workshop_2018-02-10/2018-02-10-Tucson/shell_lessons/data/gapminder_data/gapminder_final.txt")
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1997  22227415.0      Asia   41.763  635.341351
1  Afghanistan  2002  25268405.0      Asia   42.129  726.734055
2  Afghanistan  2007  31889923.0      Asia   43.828  974.580338
3  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
4  Afghanistan  1957   9240934.0      Asia   30.332  820.853030

## Writing to csv file 
As well as the `read_table` function for reading data from a file, Pandas can write data frames to files with a `to_****` function.
  * Pandas can write data frames to csv, html, excel (xlsx), json, and many more.  
    E.g.  
    `df.to_csv("./my_data.csv'`

---
## EXERCISE:
1. With the `gapminder_final.txt` file read in as a data frame, write out a copy of the data frame as a csv to a new file called `gapminder_final.csv` in the `data` directory in the `python_lessons` directory ("./data").

---

In [37]:
# Write your code here
df.to_csv("../data/processed_data/gapminder_data.csv")

# -- COMMIT YOUR WORK TO GITHUB --

---
## Keypoints:
 * Use the Pandas library to do statistics on tabular data.
 * Use `index_col` to specify that a column's values should be used as row headings.
 * Use `DataFrame.info` to find out more about a data frame.
 * The `DataFrame.columns` variable stores information about the data frame's columns.
 * Use `DataFrame.T` to transpose a data frame.
 * Use `DataFrame.describe` to get summary statistics about data.